.cyc-question-container {
  height: auto;
  min-height: 85px;
  border: 1px solid #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box; }
  .cyc-question-container .question-number {
    text-align: center; }
  .cyc-question-container .question-header {
    font-size: 15px;
    margin-bottom: 10px; }
  .cyc-question-container .question {
    font-size: 18px;
    text-align: center;
    margin: 0px;
    height: 20px;
    width: 20px;
    color: #48DFB5;
    border: 1px solid #48DFB5;
    border-radius: 100px;
    display: inline-block;
    margin-right: 7px;
    margin-top: 3px;
    float: left; }
  .cyc-question-container ul {
    margin: 0;
    padding: 0;
    margin-top: 10px; }
    .cyc-question-container ul .answers {
      display: inline-block;
      margin-right: 15px; }
    .cyc-question-container ul li {
      list-style: none;
      font-size: 12px;
      color: #A7DFD0; }
      .cyc-question-container ul li .checkBox {
        font-size: 14px;
        text-align: center;
        margin: 0px;
        height: 20px;
        width: 20px;
        color: #48DFB5;
        border: 1px solid #48DFB5;
        border-radius: 100px;
        display: inline-block; }

.remove {
  display: none; }

.active {
  display: none; }
