<div class="summary">
    <div class="row">
        <div class="col-xs-12">
            <h3><span>{{client}}</span> Media Plan Summary</h3>
            <hr />
            <div class="specs group">
                <dl class="first">
                    <dt>Campaign</dt>
                    <dd>{{planInput.planName}}</dd>

                    <dt>Product</dt>
                    <dd>{{productInput.productName}}</dd>

                    <dt>Product Type</dt>
                    <dd></dd>

                    <dt>Business Objective</dt>
                    <dd>{{businessObjectiveInput.name}}</dd>

                    <dt>Media Startegy</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>KPI</dt>
                    <dd>{{kpiToMeasureInput.name}}</dd>

                    <dt>Budget</dt>
                    <dd></dd>

                    <dt>Flight Dates</dt>
                    <dd></dd>

                    <dt>Demographic</dt>
                    <dd>{{audienceInput.name}}</dd>

                    <dt>Target Audience Size</dt>
                    <dd></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
