.suggestions-container {
  color: #fff; }
  .suggestions-container .suggestions-content {
    background-color: #08040C;
    height: 100%; }
    .suggestions-container .suggestions-content .query-builder {
      width: 50%;
      margin-left: 17%;
      display: inline-block; }
      .suggestions-container .suggestions-content .query-builder .group-btn {
        position: absolute;
        top: 250px;
        left: 10%;
        border: 1px dashed #DDF937;
        color: #DDF937;
        padding: 5px; }
      .suggestions-container .suggestions-content .query-builder .suggestions-list {
        height: 350px;
        overflow: auto; }
    .suggestions-container .suggestions-content .mri-query-container {
      background-color: #320E5F;
      width: 32%;
      display: inline-block;
      vertical-align: top;
      height: 500px;
      padding: 10px;
      box-sizing: border-box; }
      .suggestions-container .suggestions-content .mri-query-container .mri-expected-header {
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 10px; }
      .suggestions-container .suggestions-content .mri-query-container .reach-value {
        padding-left: 65px;
        font-size: 18px; }
      .suggestions-container .suggestions-content .mri-query-container .target-reach-bar {
        width: 192px;
        height: 20px;
        border: 1px solid #FFFFFF;
        background-color: #FFFFFF; }
      .suggestions-container .suggestions-content .mri-query-container .current-reach-bar {
        width: 192px;
        height: 20px;
        border: 1px solid #FFFFFF;
        margin-bottom: 30px; }
      .suggestions-container .suggestions-content .mri-query-container .footer-item {
        display: inline-block;
        margin-right: 15px; }
        .suggestions-container .suggestions-content .mri-query-container .footer-item h3 {
          margin-bottom: 0px;
          font-weight: 100;
          font-size: 15px; }
      .suggestions-container .suggestions-content .mri-query-container .progress-circ {
        height: 42px;
        width: 42px;
        border: 1px solid #FFFFFF;
        border-radius: 100px; }
        .suggestions-container .suggestions-content .mri-query-container .progress-circ span {
          position: relative;
          font-weight: 100;
          font-size: 14px;
          top: 10px;
          left: 10px; }
      .suggestions-container .suggestions-content .mri-query-container .progress-title {
        font-size: 12px; }
    .suggestions-container .suggestions-content li {
      list-style-type: none; }

.active {
  display: none; }

.hide {
  visibility: none; }

.mri-questions-content {
  background-color: #1E1131;
  margin-left: 17%;
  height: 105px; }
  .mri-questions-content .product-info {
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 1px; }
    .mri-questions-content .product-info .product-details {
      font-size: 14px;
      margin: 0; }
    .mri-questions-content .product-info .target-audience {
      font-style: italic;
      font-weight: 100;
      font-size: 14px; }
    .mri-questions-content .product-info .target-audience:hover {
      font-style: italic;
      color: orange;
      cursor: crosshair; }
    .mri-questions-content .product-info .selected-target-audience {
      background-color: white; }
    .mri-questions-content .product-info .selected-target-audience input {
      border: 0;
      outline: 0; }
  .mri-questions-content .recommendations-total {
    color: #48DFB5;
    margin: 0px;
    margin-bottom: 17px;
    font-weight: 100; }

.next-page {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #48DFB5;
  vertical-align: middle;
  position: relative;
  bottom: 0; }
  .next-page h4 {
    font-size: 20px;
    font-weight: 100;
    color: #1E1131;
    margin: 0;
    padding-top: 20px; }
  .next-page .next-icon {
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    transform: rotate(90deg);
    display: inline-block;
    position: relative;
    top: -10px;
    left: 10px; }
    .next-page .next-icon span {
      font-size: 22px;
      position: relative;
      top: 8px;
      left: 0px; }
  .next-page .active {
    display: none; }
  .next-page .next-icon:hover {
    cursor: pointer; }

.mri-fields-constraints .recommended-fields-container {
  background-color: #08040C;
  height: 500px;
  overflow: auto; }
  .mri-fields-constraints .recommended-fields-container .recommended-fields-content {
    color: #FFFFFF;
    margin-left: 17%;
    padding-top: 20px;
    overflow: auto; }
    .mri-fields-constraints .recommended-fields-container .recommended-fields-content .query-fields, .mri-fields-constraints .recommended-fields-container .recommended-fields-content .additional-query-fields {
      width: 80%; }
      .mri-fields-constraints .recommended-fields-container .recommended-fields-content .query-fields .recommended-fields-header, .mri-fields-constraints .recommended-fields-container .recommended-fields-content .additional-query-fields .recommended-fields-header {
        height: 30px;
        border: 1px solid #FFFFFF; }
        .mri-fields-constraints .recommended-fields-container .recommended-fields-content .query-fields .recommended-fields-header .toggle, .mri-fields-constraints .recommended-fields-container .recommended-fields-content .additional-query-fields .recommended-fields-header .toggle {
          font-size: 24px;
          padding-left: 5px; }
      .mri-fields-constraints .recommended-fields-container .recommended-fields-content .query-fields ul, .mri-fields-constraints .recommended-fields-container .recommended-fields-content .additional-query-fields ul {
        padding-left: 3px;
        margin-top: 10px;
        height: 160px;
        overflow: auto; }
        .mri-fields-constraints .recommended-fields-container .recommended-fields-content .query-fields ul li, .mri-fields-constraints .recommended-fields-container .recommended-fields-content .additional-query-fields ul li {
          color: white;
          list-style: none;
          font-size: 14px;
          padding-bottom: 10px; }
          .mri-fields-constraints .recommended-fields-container .recommended-fields-content .query-fields ul li .checkBox, .mri-fields-constraints .recommended-fields-container .recommended-fields-content .additional-query-fields ul li .checkBox {
            font-size: 14px;
            text-align: center;
            margin: 0px;
            height: 20px;
            width: 20px;
            color: #48DFB5;
            border: 1px solid #48DFB5;
            border-radius: 100px;
            display: inline-block; }

.audience-insights-container {
  background-color: #08040C;
  height: 500px;
  overflow: auto; }
  .audience-insights-container .audience-insights-content {
    width: 80%;
    margin-left: 17%;
    color: #FFFFFF li;
      color-padding: 15px; }

.hide {
  visibility: hidden; }
